.container {
  --py: 0.75rem;
  --px: 0.5rem;
  --bg-col: linear-gradient(180deg, #454545 0%, #212121 100%);
  --col: var(--col-white);
  --fsz: 0.75rem;
  background: var(--bg-col);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  padding: var(--py) var(--px);
  color: var(--col);
  border-radius: 0.75rem;
  font-family: var(--hanken-grotesk-font);
  font-weight: 500;
  text-transform: capitalize;
  font-size: var(--fsz);
  cursor: pointer;
  white-space: nowrap;
}

.container[data-variant="secondary"] {
  --bg-col: var(--col-white);
  --col: var(--col-dark);
  outline-color: transparent;
  border-color: transparent;
  border: 1px solid var(--col-brown);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
}

.container[data-variant="ternary"] {
  --bg-col: transparent;
  --col: inherit;
  outline-color: transparent;
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  padding: 0;
}

.icon,
.icon * {
  color: var(--col);
  fill: var(--col);
}

.icon:empty {
  display: none;
}

@media (min-width: 768px) {
  .container {
    --fsz: 1rem;
  }
}
