@import url("https://fonts.cdnfonts.com/css/druk-wide-bold");
@import url("https://fonts.cdnfonts.com/css/hanken-grotesk");

:root {
  --druk-wide-bold-font: "Druk Wide Bold", sans-serif;
  --hanken-grotesk-font: "Hanken Grotesk", sans-serif;

  --heading-font: var(--druk-wide-bold-font);
  --text-font: var(--hanken-grotesk-font);
  --col-white: #fff;
  --col-dark: #212121;
  --col-gray: #d1d1d1;
  --col-gray-100: #faf9f8;
  --col-gray-200: #e7e7e7;
  --col-gray-300: #b0b0b0;
  --col-gray-400: #888;
  --col-gray-700: #6d6d6d;
  --col-brown: #eeebe7;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

p {
  --text-fsz: 0.75rem;
  font-family: var(--text-font);
  font-weight: 500;
  font-size: var(--text-fsz);
}

@media (min-width: 768px) {
  p {
    --text-fsz: 1rem;
  }
}
