.container {
  background-color: var(--col-white);
}

.container > button {
  margin-inline: auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

.header > p {
  max-width: 46em;
}

.card {
  --card-radius: 1rem;
  border-radius: var(--card-radius);
  padding: 0.5rem;
  overflow: hidden;
  border: 1px solid var(--col-brown);
  background-color: var(--col-gray-100);
  position: relative;
  transition: all 0.5s linear;
}

.img_wrapper {
  --img-radius: 0.75rem;
  border-radius: var(--img-radius);
  overflow: hidden;
  aspect-ratio: 345/240;
  cursor: pointer;
}

.img_wrapper * {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  object-fit: cover;
  border-radius: var(--img-radius);
  transition: scale 0.5s ease-in-out;
}

.card[data-expanded="false"] .img_wrapper:hover * {
  scale: 1.0534567;
}

.content_container {
  --contentct-fdir: column;
  --contentct-my: 2.25rem;
  display: flex;
  flex-direction: var(--contentct-fdir);
  gap: 1rem;
  justify-content: space-between;
  align-items: flex-start;
  margin-block: var(--contentct-my);
  position: relative;
}

.banner_body {
  --bannerbdy-p: 0.5rem 1rem;
  padding: var(--bannerbdy-p);
  transition: all 0.5s ease-out;
  transform-origin: top;
}

.card[data-expanded="false"] .banner_body {
  scale: 1 0;
  height: 0px;
  padding: 0 0;
}

.card[data-expanded="false"] .img_wrapper * {
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
  object-fit: cover;
}

.banner_title {
  --bannertitle-fsz: 1rem;
  font-size: var(--bannertitle-fsz);
  margin-bottom: 0.5rem;
}
.actions_container {
  --actct-maw: 100%;
  max-width: var(--actct-maw);
  display: flex;
  gap: 1rem;
  margin-inline: auto;
  margin-top: 2rem;
}

.actions_container > * {
  flex-basis: 100%;
  max-width: calc(50% - 1rem);
  white-space: wrap;
}

@media (min-width: 768px) {
  .card {
    --card-radius: 1.25rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transition-duration: 1s;
    max-height: 40rem;
  }
  .card:first-child {
    max-width: 55%;
  }
  .content_container {
    --contentct-fdir: row;
    --contentct-my: 3.75rem;
    align-items: normal;
  }

  .card[data-expanded="true"] {
    flex-shrink: 0.53;
    max-width: 55%;
    background-position: left center;
  }
  .card[data-expanded="false"] {
    flex-shrink: 4.3;
  }

  .card[data-expanded="false"] .banner_body {
    scale: 1 1;
    height: auto;
    padding: 1rem 0.5rem;
  }

  .img_wrapper {
    aspect-ratio: unset;
    height: 100%;
    --img-radius: 1rem;
  }

  .card[data-expanded="true"] .img_wrapper {
    aspect-ratio: 660/328;
    width: 100%;
    height: auto;
  }

  .banner_body {
    --bannerbdy-p: 0.5rem 1.5rem;
  }

  .banner_title {
    --bannertitle-fsz: 1.25rem;
  }
  .actions_container {
    --actct-maw: 70%;
  }
  .actions_container > * {
    flex-basis: calc(50% - 1rem);
    flex-grow: 1;
  }
}
