.container {
  background-color: var(--col-white);
}

.container > button {
  margin-inline: auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

.header > p {
  max-width: 46em;
}

.card {
  --card-radius: 1rem;
  border-radius: var(--card-radius);
  padding: 0.5rem;
  overflow: hidden;
  border: 1px solid var(--col-brown);
  background-color: var(--col-gray-100);
  position: relative;
}

.main_banner,
.secondary_banner,
.main_banner *,
.secondary_banner * {
  width: 100%;
  max-width: 100%;
  border-radius: 0.75rem;
}

.main_banner {
  aspect-ratio: 345/240;
  display: flex;
}

.secondary_banner {
  aspect-ratio: 345/200;
  display: flex;
}

.content_container {
  --contentct-fdir: column;
  --contentct-my: 2.25rem;
  display: flex;
  flex-direction: var(--contentct-fdir);
  gap: 1rem;
  justify-content: space-between;
  align-items: flex-start;
  margin-block: var(--contentct-my);
  position: relative;
}

.banner_body {
  --bannerbdy-my: 1rem 2rem;
  padding: 0.5rem;
  margin-block: var(--bannerbdy-my);
}

.banner_title {
  --bannertitle-fsz: 1rem;
  font-size: var(--bannertitle-fsz);
  margin-bottom: 0.5rem;
}
.actions_container {
  --actct-maw: 100%;
  max-width: var(--actct-maw);
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  margin-inline: auto;
}

.actions_container > * {
  flex-basis: 100%;
  max-width: calc(50% - 1rem);
  white-space: wrap;
}

@media (min-width: 768px) {
  .card {
    --card-radius: 1.25rem;
  }
  .content_container {
    --contentct-fdir: row;
    --contentct-my: 3.75rem;
    align-items: normal;
  }
  .main_banner {
    aspect-ratio: 660/328;
    border-radius: 1rem;
  }
  .secondary_banner {
    aspect-ratio: unset;
    border-radius: 1rem;
    height: 100%;
    flex-grow: 1;
    flex-basis: 100%;
    min-height: 100%;
    object-fit: cover;
  }

  .banner_body {
    --bannerbdy-my: 1.25rem 2rem;
  }
  .banner_title {
    --bannertitle-fsz: 1.25rem;
  }
  .actions_container {
    --actct-maw: 70%;
  }
  .actions_container > * {
    flex-basis: calc(50% - 1rem);
    flex-grow: 1;
  }
}
