.container {
  --fsz: 0.75rem;
  text-transform: capitalize;
  font-size: var(--fsz);
  text-align: var(--textAlign-sm);
  color: var(--col);
}

@media (min-width: 768px) {
  .container {
    --fsz: 1rem;
    text-align: var(--textAlign);
  }
}
