.container {
  background-color: var(--col-white);
}

.content {
  position: relative;
  --content-p: 1.25rem;
  padding: var(--content-p);
  border-radius: 1.25rem;
  background-color: var(--col-gray-100);
  border: 1px solid var(--col-brown);
}

.header {
  --header-fdir: column;
  display: flex;
  flex-direction: var(--header-fdir);
  align-items: flex-start;
  justify-content: space-between;
  gap: 0.75rem;
}

.header > p {
  max-width: 30em;
}
.testimony_container_wrapper {
  position: relative;
  --testictwrp-mt: 2rem;
  margin-top: var(--testictwrp-mt);
  max-height: 45rem;
  overflow: hidden;
}
.testimony_container {
  --testimonyct-gap: 1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: var(--testimonyct-gap);
  align-items: center;
}

.testimony_container:not(:first-child) {
  display: none;
}

.testimony {
  width: 100%;
  --testimony-p: 1rem;
  --testimony-radius: 0.5rem;
  padding: var(--testimony-p);
  border-radius: var(--testimony-radius);
  background-color: var(--col-white);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
}

.author {
  --author-mt: 1rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-top: var(--author-mt);
}

.testimony_avatar {
  --testimonyavt-w: 2.5rem;
  border-radius: 0.5rem;
  aspect-ratio: 1;
  width: var(--testimonyavt-w);
  padding: 0.25rem;
  border: 1px solid var(--col-brown);
}
.testimony_author {
  font-family: var(--heading-font);
  margin-bottom: 0.25rem;
}
.testimony_date {
  font-size: 0.75rem;
}

.action_container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  background: linear-gradient(
    0deg,
    #faf9f8 0%,
    rgba(250, 249, 248, 0.8) 50%,
    rgba(250, 249, 248, 0) 100%
  );
  padding-block: 3.25rem;
}

@media (min-width: 768px) {
  .content {
    --content-p: 2rem;
  }
  .header {
    --header-fdir: row;
  }
  .testimony_container_wrapper {
    display: flex;
    gap: 1.75rem;
    --testictwrp-mt: 2.75rem;
  }
  .testimony_container {
    --testimonyct-gap: 1.75rem;
  }
  .testimony_container:not(:first-child) {
    display: flex;
  }
  .testimony {
    --testimony-p: 1.5rem;
    --testimony-radius: 1rem;
  }
  .author {
    --author-mt: 1.5rem;
  }
  .testimony_avatar {
    --testimonyavt-w: 3rem;
  }
  .testimony_date {
    font-size: 0.75rem;
  }
}
